<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaces Home</title>
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">Interfaces</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/Interfaces/index.html">Home</a>
                        <a class="nav-link" href="../personas/personas.html">Personas</a>
                        <a class="nav-link" href="../cargos/cargos.html">Cargos</a>
                        <a class="nav-link" href="./ciudades.html">Ciudades</a>
                        <a class="nav-link" href="../deportes/deportes.html">Deportes</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- INICIA FORMULARIO -->
        
        <div class="container mt-5 p-3 justify-content-center col-6 bg-body-tertiary rounded">
            <h3 class="h3">Ciudad</h3>
            <form class="row g-2 align-items-center">
                <div class="col-md-12">
                    <label for="cargo" class="form-label">Nombre de la ciudad</label>
                    <input type="text" class="form-control" id="cargo" placeholder="Ingrese la ciudad">
                </div>
                <div class="d-grid gap-2 col-md-6 mx-auto mt-4">
                    <a href="/Interfaces/index.html" type="button" class="btn btn-secondary" >Cancelar</a>
                </div>
                <div class="d-grid gap-2 col-md-6 mx-auto mt-4">
                    <button type="button" class="btn btn-secondary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>